*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

body {
    width: 100%;
    height: 100vh;
    font-family: poppins, 'Segoe UI', system-ui, -apple-system, Roboto, 'Open Sans', sans-serif;
    background-color: rgb(242, 242, 248);
}

body, .clock-container, .clock_border, .clock-face{
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock-container {
    background-color: rgb(223, 223, 233);
    border-radius: 50px;
    box-shadow: inset 2px 3px 10px blanchedalmond, 6px 8px 25px gray;
    width: 450px;
    height: 450px;
}

.clock_border{ 
    width: 350px;
    height: 350px;
    padding: 30px;  
    border-radius: 50%;      
    background-color: rgb(100, 36, 74);
    box-shadow: 10px 8px 10px rgba(255, 255, 255, 0.1);
}

.clock-face {
    width: 100%;
    height: 100%;
    position: relative;
    color:#333;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;  
    border: 10px solid rgb(221, 213, 213);   
    box-shadow: 
        inset 4px 4px 10px rgba(252, 250, 250, 0.5),
        inset -2px -6px 10px rgba(226, 173, 218, 0.5), 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.number{  /* changes to transform and color */
    position: absolute;
    transform: rotate(calc(var(--rotation) * 1deg)) translateX(110px)
            rotate(calc(var(--rotation) * -1deg));
    font-size: 1.4rem; 
    color: rgb(5, 4, 4);   
    font-weight: 650; /* changes */
}

.hand {
    position: absolute;
    right: 135px;
    top: 137px;
    height: 6px; 
    border-radius: 10px;
    transform-origin: 100% ;
    transform: rotate(90deg);
    z-index: 99
}

#hour {
    width: 25%;
    height: 7px;
    background-color: #666;
    transform: rotate(0deg);
}

#min {
    width: 35.5%;
    height: 5px;
    background-color: #666;
    transform: rotate(0deg);
}

#sec {
    width: 39%;
    height: 2px;
    background-color: red;
    border-radius: 50px;
    transform: rotate(0deg);
}

#btn {
    width: 15px;
    height: 15px;
    border-radius: 50px;
    background-color: rgb(44, 44, 44);
    z-index: 99;
    border: 2px solid rgb(65, 65, 65);
    box-shadow: inset 0 0 2px rgb(65, 65, 65), 0 0 3px rgb(65, 65, 65);
  }

.brand{
    position: absolute;
    bottom: 85px;
    left: 90px;
    font-size: 0.7rem;
    font-family: cursive;
    color: rgb(3, 2, 2);
  }

/* Responsive design */

@media (max-width: 768px) {
    .clock-container {
        width: 70%;
    }
}

@media (max-width: 600px) {
    .clock-container {
        width: 85%;
    }
}


@media (max-width: 470px) {
    .clock-container {
        width: 90%;
    }
 
}
@media (max-width: 400px) {
    .clock-container {
        width: 90%;
        height: 315px;
    }

    .clock_border{ 
        width: 270px;
        height: 270px;
    }

    .number {
        transform: rotate(calc(var(--rotation) * 1deg)) translateX(87px)
        rotate(calc(var(--rotation) * -1deg));
    } 

    .hand {
        position: absolute;
        right: 106px;    
        top: 107px;
    }

    .brand{
        position: absolute;
        bottom: 55px;
        left: 65px;
        font-size: 0.65rem;
    }

}


